<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools"
             type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <connectionStrings>
    <add name="SQLDBConnection" connectionString="Data Source=VENKAT-PC\VENKATPC;database=TestDB;integrated security=true" providerName="System.Data.SqlClient" />
    <add name="XMLConnection" connectionString="Employees.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    <add name="CSVConnection" connectionString="Employees.csv" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
  </connectionStrings>

  <microsoft.visualstudio.testtools>
    <dataSources>
      <!--<add name="UnitTestDataSource" connectionString="SQLDBConnection" dataTableName="Employees" dataAccessMethod="Sequential"/>-->
      <!--<add name="UnitTestDataSource" connectionString="XMLConnection" dataTableName="Employee" dataAccessMethod="Sequential"/>-->
      <add name="UnitTestDataSource" connectionString="CSVConnection" dataTableName="Employees.csv" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
</configuration>